body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.container-cards {
  padding: 80px 100px;
}
.container-posts {
  padding: 0 100px 100px;
}
.paragraph {
  margin: 0;
  padding: 0;
}
.block--dk-disabled {
  display: none;
}
.block--tb-enabled {
  display: none;
}

@media (max-width: 1024px) {
  .block--mb-disabled{
    display: none;
  }
}

@media (max-width: 768px) {
  .block--tb-enabled {
    display: block;
  }
}

@media (max-width: 375px) {
  .container-cards {
    padding: 0 18px;
  }
  .container-posts {
    padding: 0 18px 41px;
  }
  .block--dk-disabled {
    display: block;
  }
}
