.paragraph-posts {
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;

  margin-bottom: 80px;
}
.post {
  display: flex;

  width: 1720px;
  height: 393px;
}
.post__picture{
  min-width: 504px;
  min-height: 393px;
}
.post__picture-img {
  min-width: inherit;
  min-height: inherit;
}
.post__info {
  padding: 80px 84px;
  background: #F3F3F3;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 491px;

  margin-bottom: 30px;
}
.post__info-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  text-transform: uppercase;
  color: #131313;
}
.post__show-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 128%;
  letter-spacing: 0.0313em;
  color: #131313;
}
.post__info-subtitle {
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03125em;
  color: #767676;

  margin: 0 0 30px;
}
.post__cover {
  min-width: 168px;
  min-height: 393px;
}
.post__cover-image {
  min-width: inherit;
  min-height: inherit;
}
.post__border {
  width: 40px;
  background: #05C3DE;
}

.dash {
  width: 40px;
  height: 2px;
  background: #DDDDDD;
}

.event {
  display: flex;
  align-items: center;

  min-width: 820px;
  padding-bottom: 20px;
  margin-bottom: 15px;

  border-bottom: 1px solid #DDDDDD;
}
.event__calendar {
  width: 20px;
  height: 20px;

  margin-right: 15px;
}
.event__calendar-img {
  margin: 2px;
  width: 16px;
  height: 16px;
}
.event__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 138%;
  color: #131313;
}
.event__text--purple {
  color: #753BBD;
}
.event__link {
  width: 13px;
  height: 13px;
  margin: 0 15px 0 auto;
}
.event__link-icon {
  width: inherit;
  height: inherit;
}
